{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Hii! Welcome to the Vivek Sahani's Blog! Here you can post your blogs. You can post pretty much anything related to the computer science technology. I made it for sharing the content of AI/ML/Data Science and I shall be writing on these topics.</p>
        <p>You must have take a look the <a href="https://silenme.github.io/AI-News-application-react/">Voice Comtrolled News Application</a> which I built. You should also check <a href="https://silenme.github.io/restaurant-management-app-bootstrap/">The 1'st front-end of a Restaurant Management App</a> and <a href="https://silenme.github.io/WEBDC/module-5-solution/index.html"> The 2'nd front-end of a Restaurant Management App</a> which are also developed by me. Feel free to contact me. My contact information are given in navbar. </p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">GO to Blog Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}